/*
    abstract-key-page.component.scss
    Created on : 18 sept. 2025, 16:21:41
    Updated on : 05 nov. 2025, 11:00:00
    Author     : Huby Franck
*/
@use "app/theme/variables";
@use "app/theme/texts";
@use "app/theme/titles";
@use "app/theme/links";
@use "app/theme/components";
@use "app/theme/buttons";
@use "app/theme/form-controls";
@use "app/theme/icons";

.key-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: variables.$white;
  font-family: variables.$fontfamillies;
}

.key-form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 40px 30px;
  background: variables.$white;

  .form-label {
    margin-top: 4px;
  }
}

@media (min-width: variables.$medium) {
  .key-page-container {
    padding: 40px;
  }

  .key-form-wrapper {
    max-width: 450px;
    padding: 50px 40px;
    border: 1px solid variables.$gray-light;
  }
}

@media (min-width: variables.$large) {
  .key-form-wrapper {
    max-width: 740px;
  }
}
