/*
    _stats.scss
    Created on : 2 oct. 2025, 14:23:18
    Author     : symio
*/
@use "app/theme/variables";
@use "app/theme/texts";
@use "app/theme/titles";
@use "app/theme/links";
@use "app/theme/icons";

.stats-content-wrapper {
    padding: 0;
    width: 100%;

    @media (min-width: variables.$medium) {
        padding: 30px 20px;
        width: 95%;
    }

    @media (min-width: variables.$large) {
        padding: 20px 0;
        width: 100%;
    }

    @media (min-width: variables.$extralarge) {
        padding: 40px 20px;
    }
}

.stats-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;

    @media (min-width: variables.$medium) {
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: variables.$large) {
        gap: 5px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        justify-items: stretch;
    }
}

.stat-card {
    align-items: center;
    aspect-ratio: 1 / 0.5;
    background: variables.$white;
    border: 2px solid transparent;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    height: auto;
    justify-items: center;
    padding: 5px;
    width: 85%;

    @media (min-width: variables.$small) {
        width: 90%;
    }

    @media (min-width: variables.$medium) {
        aspect-ratio: 1 / 0.8;
        padding: 12px;
        padding-top: 15px;
    }

    @media (min-width: variables.$large) {
        aspect-ratio: 1 / 1;
        max-width: 85%;
        padding: 6px 4px;
        padding-top: 8px;
        width: 85%;
    }

    @media (min-width: variables.$extralarge) {
        aspect-ratio: 1 / 0.8;
    }

    .stat-value {
        align-self: center;
        font-size: 48px;
        font-weight: 700;
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        margin-left: 60px;

        @media (min-width: variables.$small) {
            font-size: 72px;
            margin-left: 110px;
        }

        @media (min-width: variables.$medium) {
            font-size: 42px;
            margin-left: 55px;
        }

        @media (min-width: variables.$large) {
            font-size: 38px;
            margin-left: 20px;
        }

        @media (min-width: variables.$extralarge) {
            margin-left: 35px;
        }

        @media (min-width: variables.$extraextralarge) {
            font-size: 52px;
            margin-left: 50px;
        }
    }

    .stat-icon {
        align-items: center;
        align-self: center;
        border: 2px solid transparent;
        border-radius: 8px;
        display: flex;
        grid-column: 2;
        grid-row: 1;
        height: 70px;
        justify-content: center;
        justify-self: end;
        margin-right: 10px;
        width: 70px;

        svg {
            height: 32px;
            width: 32px;
        }

        @media (min-width: variables.$small) {
            height: 125px;
            margin-right: 50px;
            width: 125px;
        }

        @media (min-width: variables.$medium) {
            height: 100px;
            width: 100px;

            svg {
                height: 36px;
                width: 36px;
            }
        }

        @media (min-width: variables.$large) {
            width: 55px;
            height: 55px;
            margin-right: 6px;

            svg {
                width: 22px;
                height: 22px;
            }
        }

        @media (min-width: variables.$extralarge) {
            margin-right: 25px;
        }

        @media (min-width: variables.$extraextralarge) {
            width: 60px;
            height: 60px;
        }
    }

    .stat-label {
        align-self: end;
        color: variables.$blue6;
        font-size: 20px;
        font-weight: bold;
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-self: stretch;
        padding-bottom: 30px;
        text-align: center;

        @media (min-width: variables.$small) {
            font-size: 34px;
        }

        @media (min-width: variables.$medium) {
            font-size: 24px;
            padding-bottom: 17px;
        }

        @media (min-width: variables.$large) {
            font-size: 18px;
            padding-bottom: 8px;
        }
    }

    /* Couleurs */
    &.stat-card-yellow {
        border-color: variables.$update;

        .stat-value {
            color: variables.$update;
        }

        .stat-icon {
            background: rgba(variables.$update, 0.15);
            border-color: variables.$update;

            svg {
                color: variables.$update;
            }
        }
    }

    &.stat-card-green {
        border-color: variables.$validate;

        .stat-value {
            color: variables.$validate;
        }

        .stat-icon {
            background: rgba(variables.$validate, 0.15);
            border-color: variables.$validate;

            svg {
                color: variables.$validate;
            }
        }
    }

    &.stat-card-blue {
        border-color: variables.$blue5;

        .stat-value {
            color: variables.$blue5;
        }

        .stat-icon {
            background: rgba(variables.$blue5, 0.15);
            border-color: variables.$blue5;

            svg {
                color: variables.$blue5;
            }
        }
    }

    &.stat-card-red {
        border-color: variables.$delete;

        @media (min-width: variables.$large) {
            padding-top: 0;
            padding-bottom: 12px;
        }

        .stat-value {
            color: variables.$delete;
        }

        .stat-icon {
            background: rgba(variables.$delete, 0.15);
            border-color: variables.$delete;

            svg {
                color: variables.$delete;
            }
        }

        .stat-label {
            color: variables.$delete;
        }
    }
}
