logging:
  level:
    root: WARN
    org.springframework: WARN
    org.hibernate: WARN
    org.springframework.boot: WARN
springdoc:
  api-docs:
    enabled: ${SPRINGDOC_ENABLED:true}
  swagger-ui:
    enabled: ${SPRINGDOC_ENABLED:true}
spring:
  devtools:
    restart:
      enabled: true
  datasource:
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5
      connection-timeout: 20000
      idle-timeout: 300000
      max-lifetime: 600000
      connection-test-query: SELECT 1
  jpa:
    show-sql: true
    properties:
      hibernate:
        open-in-view: false
        enable_lazy_load_no_trans: false
        generate_statistics: true
        jdbc:
          batch_size: 20
          fetch_size: 20
        order_inserts: true
        order_updates: true
        query:
          in_clause_parameter_padding: true
        format-sql: true
