/*
    mobile-menu.component.scss
    Created on : 18 sept. 2025, 16:21:41
    Author     : Huby Franck
*/
@use "app/theme/variables";
@use "app/theme/components";
@use "app/theme/icons";
@use "app/theme/links";
@use "app/theme/texts";
@use "app/theme/titles";

.mobile-menu-overlay {
    @extend %overlay;
}

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: variables.$white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;

    .active & {
        transform: translateX(0);
    }


    .user-nav-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;

        .user-icon {
            color: variables.$blue6;
        }

        .username {
            font-size: 14px;
            font-weight: bold;
            color: variables.$blue6;

            @media (min-width: variables.$medium) {
                font-size: 16px;
                display: block;
            }

            @media (min-width: variables.$large) {
                font-size: 18px;
            }
        }

        .user-nav-link {
            width: 100%;
            text-align: center;
        }

        span svg {
            color: variables.$blue6;
        }
        
        ::ng-deep a {
            display: flex;
            align-items: center;
            text-decoration: none;

            span svg {
                height: 20px;
                width: 20px;
                flex-shrink: 0;
            }
        }
        a.user-nav-link:nth-child(4),
        a.user-nav-link:nth-child(4) span svg {
            color: variables.$red !important;
        }
    }

    .nav-separator {
        width: 100%;
        border: none;
        border-top: 1px solid variables.$gray-600;
        margin: 10px 0;
        margin-left: -40px;
    }
}

.menu-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (min-width: variables.$medium) {
    .mobile-menu {
        width: 400px;
    }
}

@media (min-width: variables.$large) {
    .mobile-menu-overlay {
        display: none;
    }
}
