<main class="landing-container">
    <section class="main-title-section">
        <h1 class="main-title">Suivi de recherche d'emploi</h1>
    </section>

    <div class="main-content-wrapper">
        <section class="content-section">
            <h2 class="sub-title">Votre tableau de bord de recherche</h2>

            <div class="cta-section">
                <button (click)="connectUser()" class="cta-button primary">Connexion</button>
                <button (click)="registerUser()" class="cta-button primary">Inscription</button>
            </div>

            <div class="content-text-section">
                <p class="justified">
                    L'objectif de Jobs est de fournir aux personnes en recherche d'emploi 
                    (demandeurs d'emploi, personnes en reconversion professionnelle, 
                    salariés désireux de changer d'emploi ou d'employeur) 
                    un outil centralisé pour organiser et suivre efficacement leurs 
                    démarches de recherche d'emploi.
                </p>
                <p class="justified">Jobs vous permet de Gérer : </p>
                <ul>
                    <li>
                        Les offres d'emploi trouvées de façon autonome ou signalées 
                        comme issues d'institutions (France Travail, Cap Emploi, cabinets de recrutement),
                    </li>
                    <li>
                        Les documents liés à la recherche d'emploi (CV, lettres, recommandations),
                    </li>
                    <li>
                        L'évolution des candidatures (suivi des statuts).
                    </li>
                </ul>
            </div>
        </section>

        <section class="illustration-section">
            <img src="main.svg" alt="Illustration représentant des personnes collaborant" />
        </section>
    </div>
</main>
